<!DOCTYPE html>
<html>
	<head>
		{% include "/includes/global/inc._head-meta.jinja2" %}
		{% include "/includes/global/inc._head-js.jinja2" %}
		{% include "/includes/global/inc._head-css.jinja2" %}

		<style type="text/css">
			ul {list-style-type: none;}
			li {margin: 0 0 10px 0;}
		</style>
	</head>

	<body>
		<div id="topBanner" class="top-banner">
			<a href="/">
				<img src="/static/pictures/p.icon_50x50.png" class="banner-logo">
			</a>
		</div>

		<div class="main-content">
			{% block content %} 
			{% endblock %}
		</div>
	</body>
</html>