{% extends "base.jinja2" %}
{% block content %}
    <div class="info-content" style="padding-top: 10px;">
        <h1 class="info-h1">Account Settings</h1>

        <div class="info-settings-item">
            <div class="info-settings-item-header">
                <b>Change Name:</b> {{ current_user.name }}
            </div>
            <div class="info-settings-item-body">
                <div class="info-settings-item-body-desc">
                    Note: You can only change your name a very limited number of times.
                    {# TODO: Speaking of which, this needs to be implemented on the backend #}
                </div>
                <input type="text" class="basic-input" placeholder="First name" value="{{ current_user.first_name }}">
                <input type="text" class="basic-input" placeholder="Last name" value="{{ current_user.last_name }}">
                <input type="submit" value="Save changes">
            </div>
        </div>

        <div class="info-settings-item">
            <div class="info-settings-item-header">
                <b>Change Username:</b> @{{ current_user.user.username }}, www.wondrous.co/<b>{{current_user.user.username}}</b>/
            </div>
            <div class="info-settings-item-body">
                @<input type="text" class="basic-input" placeholder="Username" value="{{ current_user.user.username }}">
                <input type="submit" value="Save changes">
            </div>
        </div>

        <div class="info-settings-item">
            <div class="info-settings-item-header">
                <b>Change password</b>
            </div>
            <div class="info-settings-item-body">
                <div><input type="password" class="basic-input" placeholder="Current password"></div>
                <div><input type="password" class="basic-input" placeholder="New password"></div>
                <div><input type="password" class="basic-input" placeholder="Confirm new password"></div>
                <div><input type="submit" value="Save changes"></div>
            </div>
        </div>

        <div class="info-settings-item">
            <div class="info-settings-item-header">
                <b>Public profile:</b> {{ not current_user.user.is_private }}
            </div>
            <div class="info-settings-item-body">
               <button id="privacy_toggle">On/Off</button>
            </div>
        </div>

        <div class="info-settings-item">
            <div class="info-settings-item-header">
                <b>Deactivate my account</b>
            </div>
            <div class="info-settings-item-body">
                <a href="/info/delete_account/">I would like to delete my account</a>
            </div>
        </div>
    </div>
{% endblock %}
