{% extends "info/info_base.jinja2" %}
{% block content %}
	<div class="info-about-banner">
		<a class="info-about-banner-link" href="/">
			<span class="info-about-banner-link-text">Home</span>
		</a>
		<a class="info-about-banner-link" href="/info/about/">
			<span class="info-about-banner-link-text">About Us</span>
		</a>
		<a class="info-about-banner-link" href="/info/tos/">
			<span class="info-about-banner-link-text">Terms of Service</span>
		</a>
		<a class="info-about-banner-link" href="/info/privacy/">
			<span class="info-about-banner-link-text">Privacy Policy</span>
		</a>
	</div>
{% endblock %}