<!DOCTYPE html>
<html>
<head>
    <title>Wondrous | You're account has been banned</title>

    {% include "/includes/global/inc._head-meta.jinja2" %}
    {% include "/includes/global/inc._head-css.jinja2" %}
</head>
<body style="background-color: rgb(130,10,10);">
    
    <a href="/" class="big-lo-logo-a">
        <div style="font-size: 30px; color: rgb(251,251,251);">
            Wondrous
        </div>
    </a>
    
    <div style="color: rgb(249,249,249); font-size: 25px; top: 40%; position: relative; margin: 0 auto; width: 80%; text-align: center;">
        <div><b>Your account has been disabled, and you have been banned from Wondrous.</b></div>
        <br>
        <div style="font-size: 20px;">You will not be able to log on until this ban is lifted</div>
    </div>
    
</body>
</html>