<!DOCTYPE html>
<html class="lo-html">
<head>
    <title>MojoRank | You're account has been banned</title>

    {% include "/includes/inc._head-meta.jinja2" %}
    {% include "/includes/inc._head-css.jinja2" %}
</head>
<body style="background-color: rgb(130,10,10);">
    
    <a href="/" class="big-lo-logo-a">
        <div class="lo-mojorank-big" style="color: rgb(251,251,251);">
            MojoRank
        </div>
    </a>
    
    <div style="color: rgb(249,249,249); font-size: 25px; top: 40%; position: relative; margin: 0 auto; width: 80%; text-align: center;">
        <div><b>Your account has been disabled, and you have been banned from MojoRank.</b></div>
        <br>
        <div style="font-size: 20px;">You will not be able to log on until such a ban is lifted</div>
    </div>
    
</body>
</html>