<!DOCTYPE html>
<html class="lo-html">
<head>
    <title>Wondrous | Complete your sign-up process (Step {{current_step}} of {{total_steps}})</title>

    {#

    	TODO: This needs to be fixed up. Ideally, I'd like this to
    	inherit from a base template, so we don't need to redefine the
    	full HTML head and body.

    #}

    {% include "/includes/global/inc._head-meta.jinja2" %}
    {% include "/includes/global/inc._head-js.jinja2" %}
    {% include "/includes/global/inc._head-css.jinja2" %}
</head>
<body style="background-color: rgb(221,221,221);">

    <h2>Step {{current_step}} of {{total_steps}}</h2>
    <a href="/signup/step/{{next_step}}/">Next step</a>
    
</body>
</html>