<!DOCTYPE html>
<html class="lo-html">
<head>
	<title>Wondrous.co | Log in to your account</title>

	{% include "/includes/global/inc._head-meta.jinja2" %}
	{% include "/includes/global/inc._head-js.jinja2" %}
	{% include "/includes/global/inc._head-css.jinja2" %}

	<script type="text/javascript">
		function focusOnLoad() {
			document.getElementById("focusInput").focus();
		}

			$(function () {
			    var minlength = 1;
			    $("#usernameInput").keyup(function() {
			        var that = this,
			        value = $(this).val().trim();

			        if (value.length >= minlength ) {
			            $.ajax({
			                type: "POST",
			                url: "/ajax/username_check/",
			                data: {'un' : value},
			                success: function(res){
			                    //we need to check if the value is the same
			                    if (res != null) {
			                    	if (res['success']) {
			                    		$('#usernameCheck').removeClass('s-un-e').addClass('s-un-s');
			                    		$('#usernameCheck').text(res['success']);
			                    	} else if (res['error']) {
			                    		$('#usernameCheck').removeClass('s-un-s').addClass('s-un-e');
			                    		$('#usernameCheck').text(res['error']);
			                    	}
			                    }
			                }
			            });
			        }
			    });
			});
	</script>
</head>
<body style="background-color: rgb(255,255,255); min-width: 0;" onload="focusOnLoad();">

	<div class="top-banner banner-lo">
		<a href="/" style="color: rgb(235,235,235);">
			<img src="/static/pictures/p.icon_50x50.png" class="banner-logo">
		</a>
	</div>

	<div style="position: relative; margin: 0 auto; text-align: center; width: 80%; top: 5%;">
		<h1 style="font-family: courier; color: rgb(71,71,71);">Sign up :)</h1>
		<form action="/signup/" method="POST">
			<div>
				<input id="focusInput" class="input-basic round-3" type="text" name="first_name" placeholder="First name">
			</div>
			<div>
				<input class="input-basic round-3" type="text" name="last_name" placeholder="Last name">
			</div>
			<div>
				<input class="input-basic round-3" type="text" name="email" placeholder="Email">
			</div>
			<div>
				<input id="usernameInput" class="input-basic round-3" type="text" name="username" placeholder="Username" maxlength="15">
				<span style="position: absolute" id="usernameCheck"></span>
			</div>
			<div>
				<input class="input-basic round-3" type="password" name="password" placeholder="Password">
			</div>
			<div style="font-weight: 300; color: rgb(220,100,100); margin: 5px;">{% if error_message %}{{ error_message }}{% endif %}</div>
			<div>
				<input class="input-basic round-3" type="submit" name="signup_button" value="Join the culture.">
			</div>
		</form>

		<div class="login-accept-terms" style="text-align: center; margin: 10px auto; width: 300px;">
			By clicking the above button and signing up for Wondrous, you have reviewed and accepted our Privacy Policy and Terms of Service
		</div>
	</div>
</body>
</html>