<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "/includes/global/inc._head-meta.jinja2" %}
        {% include "/includes/global/inc._head-css.jinja2" %}
        {% include "/includes/global/inc._head-js.jinja2" %}
    </head>
    
    <body>
        {% include 'includes/global/inc.sidemenu.jinja2' %}
        
        {# 
            -- This is the bell that pops up in 
            lower left corner when the user gets a new notification -- 
        #}
        <div class="notification-big-alarm notification-alert round-5">
            <img class="notification-bell" src="/static/pictures/p.bell-icon.png">
            <div>New notification</div>
        </div>
        
        {% include 'includes/global/inc.top_banner.jinja2' %}
        
        {% if current_user.show_tutorial %}
            <div class='tutorial'>
                <div class="tutorial-content-wrapper">
                    <h2 class="tutorial-header"><b>Welcome to Wondrous.</b> We're excited to have you on board!</h2 class="tutorial-header">
                    <div class="tutorial-content">Here's a quick "tutorial" to get you up to speed:</div>

                    <div class="tutorial-finish-btn round-3">Okay, I got it.</div>
                </div>
            </div>
        {% endif %}

        {# -- Not in use anymore, but I keep (for now) for reference -- 
        <div class="notification-dropdown">
            <div style="font-size: 17px; padding: 10px 20px; background-color: rgb(51,51,51); color: rgb(241,241,241); font-weight: 100; border-bottom: 1px solid rgb(71,71,71);">Notifications</div>
            <div class="notificationUnreadBucket">
                <div class="notification-none">You have no notifications</div>
            </div>
            <input type="hidden" id="getBatch" value="1">
        </div>
        #}

        <div id="body-mask"></div>
        
        <div class="main-content">
            {% block content %} 
            {% endblock %}
        </div>

        {% include 'includes/global/inc._noscript.jinja2' %}

        {# -- This file contains all JS present in body -- #}
        {% include 'includes/global/inc._body-js.jinja2' %}

    </body>
</html>