<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "/includes/global/inc._head-meta.jinja2" %}
        {% include "/includes/global/inc._head-css.jinja2" %}
        {% include "/includes/global/inc._head-js.jinja2" %}
    </head>
    
    <body>
        {% include 'includes/global/inc.sidemenu.jinja2' %}

        <div class="notification-big-alarm notification-alert round-5">
            <img class="notification-bell" src="/static/pictures/p.bell-icon.png">
            <div>New notification</div>
        </div>
        
        {% include 'includes/global/inc.top_banner.jinja2' %}
        
        {% if current_user.show_tutorial %}
            <div class='tutorial'>
                <div class="tutorial-content-wrapper">
                    <h2 class="tutorial-header"><b>Welcome to Wondrous.</b> We're excited to have you on board!</h2 class="tutorial-header">
                    <div class="tutorial-content">Here's a quick "tutorial" to get you up to speed:</div>

                    <div class="tutorial-finish-btn round-3">Okay, I got it.</div>
                </div>
            </div>
        {% endif %}

        <div id="body-mask"></div>
        
        {% include 'includes/global/inc._noscript.jinja2' %}

        <div class="main-content">
            {% block content %} 
            {% endblock %}
        </div>

        {# -- This file contains all JS present in body -- #}
        {% include 'includes/global/inc._body-js.jinja2' %}
    </body>
</html>