<!DOCTYPE html>
<html>
<head>
    <title>Wondrous</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" sizes="16x16"
      href="https://s3-us-west-2.amazonaws.com/wondrousstatic/pictures/icons/meta/favicon.png?v=1" />
</head>
<body>
<section id="wondrousapp"></section>

<script src="/static/js/bundle.js"></script>

</body>
</html>
