<!DOCTYPE html>
<html class="lo-html">
<head>
    {% include "/includes/global/inc._head-meta.jinja2" %}
    {% include "/includes/global/inc._head-js.jinja2" %}
    {% include "/includes/global/inc._head-css.jinja2" %}
</head>
<body style="background-color: rgb(255,255,255);  min-width: 0;">

    <div class="top-banner banner-lo">
        <a href="/" style="color: rgb(235,235,235);">
            <img src="/static/pictures/p.icon_50x50.png" class="banner-logo">
        </a>
    </div>

    <div style="position: relative; margin: 0 auto; text-align: center; width: 80%; max-width: 730px; top: 10%; ">

        <img src="/static/pictures/p.logo.png" style="width: 350px; height: auto;">

        <p style="font-family: helvetica, arial, sans-serif; color: rgb(71,71,71); font-size: 20px; font-weight: 100; width: 75%; margin: 20px auto;">
            Some amazing slogan goes here to fill up space on our temporary home page
        </p>

        <div style="padding: 40px 0;">
            <a class="index-lo-big-link signup-big-link round-5" href="/signup/">Sign up</a>
            <a class="index-lo-big-link blue-big-link round-3" href="/login/">Log in</a>
        </div>
    </div>

</body>
</html>