{#
    This critically important file is used to render either the logged-in index page
    or the logged-out index page depending on whether or not
    the current user is logged in.
#}

{% if current_user %}
    {% include LOGGED_IN_TEMPLATE %}
{% else %}
    {% include LOGGED_OUT_TEMPLATE %}
{% endif %}