<!DOCTYPE html>
<html>
<head>
    <title>Wondrous</title>
    <link rel="stylesheet" href="/static/css/style.global.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.normalize.css">
</head>
<body>
<section id="wondrousapp"></section>

<script src="/static/js/bundle.js"></script>

</body>
</html>
