{% extends "base.jinja2" %}
{% block content %}	
	<div class="cover profile-content">

		{% include "/includes/posts/inc.new_post_dialogue.jinja2" %}

		{% if render_items %}
			<div style="height: 10px;"></div>
			{% include "/includes/posts/inc.posts_tag.jinja2" %}
			<div style="height: 40px;"></div>
		{% else %}
			<div class="no-posts" style="margin-top: 40px;">
				<span class="no-posts-text">
					For whatever reason, this post is not visible to you....maybe becasue you reported it?
				</span>
			</div>
		{% endif %}
	</div>

	{# JS scripts #}
	{% include "/includes/posts/inc.post_js_files.jinja2" %}

{% endblock %}