<div class="profile-header">
    <img src="{{profile_user.user.profile_picture}}" class="profile-photo round-50">
    
    <span class="profile-header-content">
        <span class="profile-name">{{ profile_user.name }}</span>
        <span class="profile-wscore">
            <span class="profile-wscore-text round-5">1</span>
        </span>
    </span>

    <span class="profile-header-nav">
        <a class="profile-header-nav-link {% if not tab %}current-tab{% endif %}" href="/{{profile_user.user.username}}/">Posts</a>
        <a class="profile-header-nav-link {% if tab == "followers" %}current-tab{% endif %}" href="/{{profile_user.user.username}}/followers/">Followers</a>
        <a class="profile-header-nav-link {% if tab == "following" %}current-tab{% endif %}" href="/{{profile_user.user.username}}/following/">Following</a>
        <a class="profile-header-nav-link {% if tab == "likes" %}current-tab{% endif %}" href="/{{profile_user.user.username}}/likes/">l!kes</a>
    </span>
</div>
<div class="profile-content">
    <input type="hidden" id="profileID" value="{{profile_user.id}}">
    {% if tab == "followers" %}
        Followers
    {% elif tab == "following" %}
        Following
    {% elif tab == "likes" %}
        Likes
    {% elif tab == "bookmarked" %}
        Bookmarked (private)
    {% else %}
        {% include "includes/posts/inc.new_post_dialogue.jinja2" %}
        {% include "includes/posts/inc.posts_profile.jinja2" %}
    {% endif %}
</div>