<div class="profile-header">
    <img src="{{profile_user.user.profile_picture}}" class="profile-photo round-50">

    <span class="profile-header-content">
        <span class="profile-name">{{ profile_user.name }}</span>
        <span class="profile-wscore">
            <span class="profile-wscore-text round-5">1</span>
        </span>
        {% if not is_my_profile %}
            <button id="upvoteUserButton">
                {% if is_following %}
                    UnFollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        {% endif %}
    </span>

    <span class="profile-header-nav">
        <a class="profile-header-nav-link {% if not tab %}current-tab{% endif %}" href="/{{profile_user.user.username}}/">Posts</a>
        <a class="profile-header-nav-link {% if tab == "followers" %}current-tab{% endif %}" href="/{{profile_user.user.username}}/followers/">Followers</a>
        <a class="profile-header-nav-link {% if tab == "following" %}current-tab{% endif %}" href="/{{profile_user.user.username}}/following/">Following</a>
        <a class="profile-header-nav-link {% if tab == "likes" %}current-tab{% endif %}" href="/{{profile_user.user.username}}/likes/">l!kes</a>
    </span>
</div>
<div class="profile-content">
    <input type="hidden" id="profileID" value="{{profile_user.id}}">
    {% if tab == "followers" %}

        Followers
        {% if render_items %}
            {% for u in render_items %}
                <div><a href="/{{u.user.username}}/">{{ u.name }}</a></div>
            {% endfor %}
        {% else %}
                <div>You have no followers yet</div>
        {% endif %}

    {% elif tab == "following" %}
        
        Following
        {% if render_items %}
            {% for u in render_items %}
                <div><a href="/{{u.user.username}}/">{{ u.name }}</a></div>
            {% endfor %}
        {% else %}
                <div>You're not following anoyone yet</div>
        {% endif %}

    {% elif tab == "likes" %}
        Likes
    {% else %}
        {% if is_my_profile %}
            {% include "includes/posts/inc.new_post_dialogue.jinja2" %}
        {% endif %}
        
        {% include "includes/posts/inc.posts_profile.jinja2" %}
    {% endif %}
</div>
