{# 
	Every post needs to have these two hidden fields,
	which contain the relevant data needed for any
	operation related to a post
#}

<!-- <input class="contextTagID" type="hidden" value="{{ item['context_tag_id'] }}"> -->
<input class="objectID" type="hidden" value="{{ item['object_id'] }}">