{#

-- NOT IN USE, but I keep it for reference! (for now...) --

#}

<div id="new-post-dialogue" class="new-post-wrapper round-3">

    <div class="new-post-element">
        <div style="position: relative; margin: 0 auto; margin-bottom: 10px;">
            <input id="postSubject" class="new-post-subject" maxlength="45" placeholder="Add a title!" spellcheck="False">
        </div>
    </div>

    <div class="new-post-element" style="background-color: rgb(255,255,255);">
        <textarea id="postTextarea" maxlength="5000" placeholder="Write something. Post a link. Add #hashtags."></textarea>
    </div>
    
    <div id="post-hashtags"></div>

    <div id="postUploadBtn" class="upload-button round-2 fileinput-button">
        Upload Image/PDF/etc. (35MB max)
        <input id="fileuploadPostImage" type="file" name="files[]"/>
    </div>

    <div id="progress" class="small-red-bar fileinput-button progress post-dialogue-progress">
        <div class="progress-bar progress-bar-success" style="text-align: center;"></div>
    </div>

    <div id="filename"></div>
    <div id="uploadedImagePreviewWrapper"></div>
    <input id="objectFileID" type="hidden" value="{# inject file_object_id if file uploaded #}">
    
    <div id="post-upload-file" class="files" style="postion: relative; margin-left: 5px; font-size: 14px;"></div>

    <!-- <hr> -->
    
    <div class="post-error-wrapper">
        <span class="post-error"></span>
    </div>

    <div id="post-button" role="button" class="post-button round-3">Post</div>
    <!-- <div role="button" class="post-button round-3 cancel-post-button">Cancel</div> -->
</div>