{# -- This included file renders the previous comments -- #}
{% include "/includes/inc.previous_post_comments.jinja2" %}

{# -- This is the new comment post form -- #}
<div class="commentContext" data-oid="{{ item['object_id'] }}">

    <div class="addComment"></div>

    <input class="comment-input" placeholder="What're your thoughts?!" type="text" maxlength="1000">
    <div class="comment-radio-main-wrapper">
        <span class="comment-post-btn round-2">Post</span>
        <div class="comment-error-message"></div>
    </div>
</div>