{#

-- This will only be useful if we let users upload 
PDFs and other types of files (not images) --

#}

{% for f in item['object_files'] %}
    {% if f['is_img'] %}
        <img src="{{ f['file_url'] }}" class="post-image round-5 {# picture-frame #}">
    {% else %}
        <div class="post-file-wrapper">
            <a href="{{ f['file_url'] }}" target="_blank" download="{{ f['original_file_name'] }}" class="post-file-download-link round-left-5">
                <div class="post-file-img">D</div>
                <div class="post-file-download-text">Get this file</div>
            </a>
            <div class="post-file-body round-5">
                <div class="post-file-element">
                    <b>{{ f['original_file_name'] }}</b>
                    <hr class="dropdown-hr" style="text-align: left; margin: 8px 0 2px 0; left: 0;">
                </div>
                <div class="post-file-element">
                    <em>Type: {{ f['mime_type'] }}</em>
                </div>
                <div class="post-file-element">
                    <em>{% if f['file_size'] < 1 %}{{ 1000 * f['file_size']|round(5) }} KB{% else %}{{ f['file_size']|round(5) }} MB{% endif %}</em>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}