
{# -- If this is your own post -- #}
{% if item['poster_id'] == current_user.id %}

    {# -- The ! button -- #}
    <span class="mini-vote-btn upvote-disabled nh">
        <p class="mini-hand-icon" style="color: rgb(91,91,91); cursor: default;">u</p>
        <span class="mini-vote-count">{{ item['upvotes'] }}</span>
    </span>

{# -- If this is someone else's post -- #}
{% else %}

    {# -- The ! button -- #}
    <span title="Like this post!" class="mini-vote-btn upvote nh upvoteButton  {% if item['has_voted'] == 1 %}upvoted{% endif %}">
        <p class="mini-hand-icon" style="color: rgb(160,160,160);">u</p>
        <span class="mini-vote-count totalUpvotes">{{ item['upvotes'] }}</span>
    </span>
{% endif %}