{% set item_owner = get_item_owner(item['poster_id']) %}
<img class="post-thumb round-50" src="{{item_owner.user.profile_picture}}"/>
<span class="post-identifier ellipsis-overflow" style="width: 78%;">
    <a href="/{{item_owner.user.username}}/">{{ item_owner.name }}</a>
</span>