{# CSS #}
<link rel="stylesheet" type="text/css" href="/static/css/style.normalize.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.global.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/jquery.cropbox.css">
