
{# -- Set some variables to make life simpler -- #}
{% set SOCIAL_MEDIA_TITLE = "Coming Soon in Spring 2015! | Wondrous" %}
{% set SOCIAL_MEDIA_DESC  = "Wondrous is a new tech startup launching in Spring 2015!" %}
{% set URL_STATIC_DIR     = "http://www.wondrous.co/static/images/" %}
{% set META_DESC 		  = "Wondrous is a new tech startup launching in Spring 2015. We empower you to share your life and experiences with your friends like never before!" %}

{# -- Force latest IE rendering engine or ChromeFrame if installed, this must go first -- #}
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

<title>{{ title }}</title>

{# -- Miscellaneous Meta Tags -- #}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="description" content="{{ META_DESC }}">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="msapplication-tap-highlight" content="no" />

{# -- SEO and Social Media Hooks -- #}
<meta name="msapplication-TileColor" content="#00E2AE">
<meta name="msapplication-TileImage" content="{{ URL_STATIC_DIR }}apple_icon.png?v=1">
<meta name="apple-mobile-web-app-title" content="Wondrous">

{# -- Twitter -- #}
<meta name="twitter:title" content="{{ SOCIAL_MEDIA_TITLE }}">
<meta name="twitter:description" content="{{ SOCIAL_MEDIA_DESC }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@WondrousCo">
<meta name="twitter:domain" content="wondrous.co">
<meta name="twitter:image" content="{{ URL_STATIC_DIR }}Icon.png?v=1">

{# -- Facebook Open Graph -- #}
<meta property="og:title" content="{{ SOCIAL_MEDIA_TITLE }}">
<meta property="og:description" content="{{ SOCIAL_MEDIA_DESC }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Wondrous">
<meta property="og:url" content="http://www.wondrous.co/">
<meta property="og:image" content="{{ URL_STATIC_DIR }}WebsiteImage_center.jpg?v=1">

{# -- Miscellaneous Link Tags -- #}
<link rel="canonical" href="http://www.wondrous.co/">
<link rel="apple-touch-icon" href="{{ URL_STATIC_DIR }}apple_icon.png?v=1">
<link rel="shortcut icon" sizes="16x16" href="{{ URL_STATIC_DIR }}favicon.png?v=1">