{#

-- NOT IN USE, but I keep it for reference! (for now...) --

#}

<input id="startItemNum" type="hidden" value="{{start_item_num}}">
<div class="exhausted-posts">
	<span class="no-posts-text">
		{% if has_next %}
			{% if back_start != None %}
				<a class="pagination-text" href="?start={{back_start}}#z">< Previous</a>
			{% endif %}
			<span class="pagination-page-num">{{ current_page_num }}</span>
			<a class="pagination-text" href="?start={{next_start}}#z">Next Page ></a>
		{% else %}
			<b style="position: relative; margin-bottom: 5px;">No more things to show</b><br>
			{% if current_page_num > 1 %}
				<div style="position: relative;	margin-top: 10px;">
					<a class="pagination-text" href="?start={{back_start}}#z">< Previous Page</a> 
					<span class="pagination-page-num">{{ current_page_num }}</span>
					<br><br>
					<a class="pagination-text" href="?start=0#z">Back to start</a>
				</div>
			{% endif %}
		{% endif %}
	</span>
</div>