{# Javascript/jQuery #}

{# Core JS libraries #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-git.min.js"></script> {# Used for browser detection #}

{# In house Wondrous scripts #}
<script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/static/js/jquery.notify.js"></script>

{# Masonry #}
<script type="text/javascript" src="/static/js/masonry/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/static/js/masonry/imagesloaded.pkgd.min.js"></script>
