<div class="sidemenu">
	<div class="sidemenuOptions">
		<div class="sidemenuDefaultOptions">
			<a href="/info/about/" class="dropdown-a __noPush">
				<div class="dropdown-element">About us</div>
			</a>
			<a href="/info/tos/" class="dropdown-a __noPush">
				<div class="dropdown-element">Terms of Service</div>
			</a>
			<a href="/info/privacy/" class="dropdown-a __noPush">
				<div class="dropdown-element">Privacy</div>
			</a>
			<a href="/info/settings/" class="dropdown-a">
				<div class="dropdown-element">Account settings</div>
			</a>
			 <a href="/info/feedback/" class="dropdown-a">
			 	<div class="dropdown-element">Feedback</div>
			 </a>
			
			<hr class="dropdown-hr">
			
			<a href="/auth/logout/" class="dropdown-element __noPush" style="text-decoration: none; display: block;">Log out</a>
		</div>
	</div>
</div>