
.big-lo-logo-a:hover {
    text-decoration: none;
}

.lo-slogan {
    font-size: 23px;
    font-family: helvetica, arial, sans-serif;
    color: rgb(220,220,220);
    font-weight: 100;
}

.lo-input-box {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 380px;
    top: 35%;
    text-align: left;
    background-color: rgb(251,251,251);
    background-color: rgba(251,251,251, 0.73);
    border: 1px solid rgb(201,201,201);
}

.lo-prompt {
    position: relative;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(51,51,51);
    text-align: center;
    margin: 10px;
}

.lo-mini-prompt {
    position: relative;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(51,51,51);
    margin: 10px;
    text-align: left;
    font-style: italic;
}

.lo-email-input {
    position: relative;
    margin: 10px auto;
    padding: 10px 10px 8px 10px;
    width: 94%;
    font-family: arial, helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    outline: none;
    border: 1px solid rgb(221,221,221);
    
    &:focus {border: 1px solid rgb(117,169,249);}
}

.lo-submit {
    position: relative;
    padding: 8px 10px;

    color: rgb(251,251,251);
    border: 1px solid rgb(0,130,0);
    background-color: rgb(0,100,250);
    
    &:hover { background-color: rgb(0,110,255); }
    &:active { background-color: rgb(0,100,235); }
    &:focus { outline: none; }
}

.lo-login-link:link {
    position: relative;
    left: 15px;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(51,51,51);
    text-decoration: none;
    
    &:visited { color: rgb(51,51,51); }
    &:hover { text-decoration: underline; }
}

.login-error-message {
    display: none;
    margin-top: 10px;
    font-family: helvetica, arial, sans-serif;
    font-size: 15px;
    color: rgb(200,0,0);
    font-weight: normal;
}

/* === AUTH LO ========================= */

.auth-error-small {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    color: rgb(251,251,251);
    text-align: left;
    background-color: rgb(220,100,100);
    border: 1px solid rgb(100,100,100);
    padding: 10px;
}

.auth-success-big {
    font-family: arial, helvetica, sans-serif;
    font-size: 23px;
    color: rgb(0,150,0);
    font-weight: bold;
    text-align: center;
}

#usernameCheck {
    font-size: 15px;
    margin-top: 17px;
    margin-left: 5px;
}
.s-un-s {color: rgb(100,150,100) !important;}
.s-un-e {color: rgb(200,100,100) !important;}

.input-basic:focus, .banner-lo, .signup-big-link {
    border-color: rgb(0,226,174);
}

/* ---- Logged-out Signup Modal Prompt ---- */

.loggedout-modal-signup-wrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    max-width: 730px;
    top: 10%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
}

.loggedout-modal-signup-logo {
    width: 200px;
    height: auto;
    margin: 20px 0 10px;
}

.loggedout-modal-signup-prompt {
    font-family: helvetica, arial, sans-serif;
    color: rgb(140,140,140);
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    width: 90%;
    margin: 20px auto 30px;
}

.loggedout-modal-signup-input {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 3px 5px;
    font-size: 35px;
    font-weight: 100;
    color: rgb(61,61,61);
    width: 100%;
    border: none;
    border-bottom: 3px solid rgb(234,234,234);
    outline: none;

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    &:focus {
        border-bottom-color: rgb(0,226,174);
    }
}

.loggedout-modal-signup-submit {
    position: relative;
    display: block;
    margin: 8px 0 0;
    border: none;
    background-color: rgb(234,234,234);
    padding: 6px 22px;
    font-family: arial, helvetica, sans-serif;
    color: rgb(120,120,120);
    font-weight: 400;
    outline: none;

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    &:hover { background-color: rgb(241,241,241); };
}

.loggedout-modal-signup-footer {
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: rgb(140,140,140);
    border-top: 1px solid rgb(244,244,244);
    margin-top: 30px;
    padding: 10px 30px 0;
}
