// For the base of the app
// body and ubiquitious things

body,
.top-banner,
.main-content,
#main-content-id,
.cover-photo,
.profile-tab-bar {
    min-width: 750px;
}

html, body, footer, .main-content {
    background-color: rgb(234,234,234);
    background: rgb(234,234,234) url("https://s3-us-west-2.amazonaws.com/wondrousstatic/pictures/static-boom.png");
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: helvetica, arial, sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(231,231,231);
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.grid-padding,
.profile-content,
.profile-header {
    margin: 0 auto;
}

.grid-padding,
.profile-content {
    /*max-width: 1000px;*/
    max-width: 950px;
}

#body-mask {
    position: fixed;
    display: none;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-color: rgba(35,35,35,0.4);
    z-index: 11; /* top-banner's z-index is 10 */
}

.main-content,
#main-content-id {
    position: relative;
    margin-top: 45px;
    min-height: 1000px;

    background: rgb(234,234,234) url("https://s3-us-west-2.amazonaws.com/wondrousstatic/pictures/static-boom.png");
}

.input-basic {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    font-family: helvetica, arial, sans-serif;
    font-size: 17px;
    color: #292929;
    font-weight: 100;
    padding: 10px;
    margin: 3px;
    border: none;
    border-bottom: 3px solid rgb(224,224,224);
    outline: none; 

    &:focus { border-bottom-color: rgb(0,226,174); }
}

.lo-html {
    height: 100%;
}

.cover {
    -webkit-background-size: cover !important;
       -moz-background-size: cover !important;
         -o-background-size: cover !important;
            background-size: cover !important;

    background-attachment: scroll;
}

.center {
    text-align: center;
}

.nh {
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
     -khtml-user-select:   none;
       -moz-user-select:   none;
        -ms-user-select:   none;
            user-select:   none;
}

.round-50 {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}

.round-15 {
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
         -o-border-radius: 15px;
            border-radius: 15px;
}

.round-10 {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
}

.round-5 {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}

.round-4 {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

.round-3 {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

.round-2 {
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
}

.loader-lo {
    position: absolute;
    top: 77px;
    height: 50px;
    width: 50px;
    left: 80%;
    z-index: 1;
}

.style-neutral {
    background-color: rgb(20,90,220);
    color: rgb(251,251,251);
    
    &:hover { background-color: rgb(30,100,240); }
    &:active { background-color: rgb(20,90,210); }
}

.style-warn {
    background-color: rgb(220,90,90);
    color: rgb(251,251,251);
    &:hover { background-color: rgb(230,95,95); }
    &:active { background-color: rgb(210,90,90); }
}


.index-lo-big-link {
    padding: 15px 20px;
}

.noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(195,70,70);
    text-align: center;
    font-family: arial, helvetica, 'sans-serif';
    color: rgb(248,248,248);
    font-weight: bold;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: default;
    border-bottom: 1px solid rgb(205,205,205);
    z-index: 12; /* top-banner's z-index is 10, body-mask's is 11 */
}

.pagination-text {
    font-family: code_lightregular, arial, helvetica, sans-serif;
    font-size: 20px;
    color: rgb(35,35,35);
    font-weight: normal;
    margin: 0 10px;
}

.pagination-page-num {
    background-color: rgb(71,71,71);
    color: rgb(251,251,251);
    padding: 2px;
}

.tmp-feed-h1 {
    color: rgb(171,171,171);
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 0 5%;
}

.no-data-to-display {
    font-size: 20px;
    color: rgb(170,170,170);
    font-weight: 900; 
    text-align: center;
    padding: 40px 0;
}

.hashtagify {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    color: rgb(140,140,140);
    padding: 3px 5px;
    background-color: rgb(247,247,247);
    border: 1px solid rgb(219,219,219);
    text-decoration: none;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    &:link, &:visited {
        color: rgb(140,140,140);
    }

    &:hover {
        text-decoration: none;
        border-color: rgb(185,185,185);
    }
}

.hashtagify--medium {
    padding: 1px 3px;

    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
         -o-border-radius: 1px;
            border-radius: 1px;
}

.hashtagify--small {
    font-size: 14px;
    padding: 0 4px;

    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
         -o-border-radius: 1px;
            border-radius: 1px;
}

.hashtagify--ghost {
    background-color: transparent;
    border: none;
    font-weight: 900;

    &:hover {
        color: rgb(110,110,120);
    }
}

.linkify {
    &:link {color: rgb(0,100,170);}
    &:visited {color: rgb(0,100,170);}
}

/* Information Banner */

.information-banner {
    position: relative;
    margin: 60px 15px 10px;
    padding: 8px;
    text-align: center;
    color: rgb(251,251,251);
    font-size: 15px;
    font-weight: 900;
}

.information-banner--general {
    /*background-color: rgb(67,182,239);*/
    background-color: rgb(0,226,174);
}

.information-banner--alert {
    background-color: rgb(247,147,20);
}

.information-banner--warn {
    background-color: rgb(220,80,80);
}

.dialogue-header {
    font-weight: 900;
    font-size: 20px;
    color: rgb(61,61,61);

    /*
        NOTE: The dialogue buttons are in the _buttons.scss file.
        The actual dialogue styles are inline in the Dialogue.react file.
    */
}

.dialogue-info {
    font-size: 15px;
    padding: 10px 0;
    color: rgb(51,51,51);
    font-weight: 300;
}
