// buttons, links - anything clickable

a:link {text-decoration: none;}
a:visited {color: inherit;}
a:hover {text-decoration: underline;}

.link-blue {
    &:link { color: blue; }
    &:visited { color: blue; }   
}

.login-accept-terms {
    font-size: 13px;
    font-style: italic;
    color: rgb(100,100,100);
}

.animate-e-i-o {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
} .animate-e-i-o:active {
    -webkit-transition: all 0.0s ease-in-out;
       -moz-transition: all 0.0s ease-in-out;
        -ms-transition: all 0.0s ease-in-out;
         -o-transition: all 0.0s ease-in-out;
}

.signup-big-link {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    background-color: rgb(0,226,174);
    color: rgb(251,251,251) !important;
    border: 3px solid;

    &:link { text-decoration: none; }
    &:visited { color: rgb(251,251,251); }
    &:hover { border: 3px solid rgb(0,200,140); }
}

.follow-button {
    padding: 4px 15px;
}

.is-following {
    border: 2px solid rgb(0,120,250);
    background-color: rgb(0,120,250);
    color: rgb(251,251,251);
}

.not-following {
    border: 2px solid rgb(221,221,221);
    background-color: rgb(241,241,241);
    color: rgb(121,121,121);
}
