// buttons, links - anything clickable

a:link {text-decoration: none;}
a:visited {color: inherit;}
a:hover {text-decoration: underline;}

.link-blue {
    &:link { color: blue; }
    &:visited { color: blue; }   
}

.login-accept-terms {
    font-size: 13px;
    font-style: italic;
    color: rgb(100,100,100);
}

.animate-e-i-o {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
} .animate-e-i-o:active {
    -webkit-transition: all 0.0s ease-in-out;
       -moz-transition: all 0.0s ease-in-out;
        -ms-transition: all 0.0s ease-in-out;
         -o-transition: all 0.0s ease-in-out;
}

.signup-big-link {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    background-color: rgb(0,226,174);
    color: rgb(251,251,251) !important;
    border: 3px solid;

    &:link { text-decoration: none; }
    &:visited { color: rgb(251,251,251); }
    &:hover { border: 3px solid rgb(0,200,140); }
}

.follow-button {
    border: 1px solid rgb(234,234,234) !important;
    padding: 25px 0 !important;
    cursor: pointer;
}

.follow-button > .profile-header-nav-title {
    text-transform: uppercase;
    font-size: 11px;
}

.follow-button.is-following > .profile-header-nav-title {
    font-weight: bold;
}

.follow-button-plus {
    position: relative;
    top: -12px;
    font-size: 38px;
    font-weight: 100;
    color: rgb(180,180,180);
}

.is-following {
    border-color: rgb(27,201,34) !important;
}

.not-following {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
}
