// Anything to do with comment
/* === COMMENT ============================ */

.comment-modal {
    position: relative;
    width: 80%;
    height: 100%;

    margin-top: 60px;
    z-index: 6; /* Post is z-index 5 */

    background-color: rgb(171,171,171);
}

.comment-textarea {
    height: 2em;
    width: 100%;
}