// Anything to do with comment
/* === COMMENT ============================ */

.comment-modal {
    position: relative;
    width: 80%;
    height: 100%;

    margin-top: 60px;
    z-index: 6; /* Post is z-index 5 */

    background-color: rgb(171,171,171);
}

.comment-textarea {
    padding: 5px;
    height: 3.4em;
    width: 100%;
    border: 1px solid rgb(221,221,221);
    font-size: 15px;

    outline: none;
    resize: none;

    &:focus {
        -webkit-transition: all 0.30s ease-in-out;
           -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
             -o-transition: all 0.30s ease-in-out;
        border-color: rgb(0,170,224);
    }
}

.post-comment-btn {
    border: none;
    font-size: 14px;
    color: rgb(251,251,251);
    padding: 6px 16px;
    border-radius: 2px;
    background-color: rgb(0,100,170);
    outline: none;

    &:hover {
        -webkit-transition: all 0.30s ease-in-out;
           -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
             -o-transition: all 0.30s ease-in-out;

        background-color: rgb(0,110,180);
    }
}

.post-comment-wrapper {
    padding: 17px;
    background-color: rgb(251,251,251);
    
    -webkit-box-shadow: inset 0 1px 2px rgb(151,151,151);
       -moz-box-shadow: inset 0 1px 2px rgb(151,151,151);
         -o-box-shadow: inset 0 1px 2px rgb(151,151,151);
            box-shadow: inset 0 1px 2px rgb(151,151,151);
}

.post-no-comments {
    font-weight: bold;
    font-size: 15px;
    color: rgb(190,190,190);
    margin: 10px 0;
    margin-left: 30px;
}

.post-comment-load-more {
    padding: 8px 30px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: rgb(150,150,150);
    font-weight: bold;

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    &:hover {
        color: rgb(115,115,115);
    }
}

.post-comment {
    position: relative;
    min-height: 32px;
    padding: 0;
    margin: 0 0 12px;
}

.post-comment-image-wrapper {
    position: absolute;
    width: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.post-comment-content {
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    color: rgb(71,71,71);
    padding: 0 8px 0 32px;
}

.post-comment-un {
    display: block;
    color: rgb(0,100,170);
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 3px;

    &:link {text-decoration: none;}
    &:hover {text-decoration: underline;}
    &:visited {color: rgb(0,100,170);}
}

.post-comment-img {
    height: 25px;
    width: 25px;
    margin-top: 2px;
}

.post-comment-delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'heydings_iconsregular';
    color: rgb(210,210,210);
    cursor: pointer;
}

.post-comment-date {
    position: relative;
    top: 0;
    left: 0;
    color: #d2d2d2;
    font-size: 13px;
    margin-top: 4px;
}