
/* ==== DROPDOWN =================*/

.dropdown-box {
    position: absolute;
    display: none;
    top: 38px;
    right: 0px;
    width: 140px;
    font-family: helvetica, arial, 'sans-serif';
    background-color: rgb(251,251,251);
    border: 1px solid rgb(170,170,170);
    padding: 6px 0;
    cursor: default;
    z-index: 3;
}

.dropdown-element {
    width: auto;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 30px;
    color: rgb(68,68,68);
    font-size: 14px;
    text-decoration: none !important;
    cursor: pointer;

    &:hover {
        background-color: rgb(241,241,241);

        -webkit-box-shadow: -3px 0 0 0 rgb(161,161,161);
           -moz-box-shadow: -3px 0 0 0 rgb(161,161,161);
             -o-box-shadow: -3px 0 0 0 rgb(161,161,161);
                box-shadow: -3px 0 0 0 rgb(161,161,161);
    }
    &:active { background-color: rgb(235,235,235); }
}
 

.dropdown-a:link {
    text-decoration: none;
}

.dropdown-hr {
    position: relative;
    height: 1px;
    width: 90%;
    margin: 4px 4px;
    background-color: rgb(231,231,231);
    border: 0;
}
