// masonry

/* ============================= */
/* MASONRY --------------------- */
/* ============================= */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

$masonry-width: 100%;
$num-cols: $masonry-width / 3;


.masonry {
    width: $masonry-width;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
}


/* masonry-brick is invisible, but used for layout */
.masonry-brick,
.post-body,
.grid-sizer {
    width: $num-cols;
}

.post-presentation {
    width: $num-cols * 2;
    z-index: 5;
    position: relative;
}

.masonry-brick {
    float: left;
    border: none;
    background: transparent;
    padding: 10px;
}

.loading-wheel {
    display: block;
    margin: 20px auto;
    width: 40px;
}

/* --- Trending Box --- */

.trending-ul {
    padding: 10px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.7);
    border-top: 2px solid rgb(0,226,174); /*rgb(3,191,160);*/

    -webkit-box-shadow: 0 1px 1px 0 rgb(159,159,159);
       -moz-box-shadow: 0 1px 1px 0 rgb(159,159,159);
         -o-box-shadow: 0 1px 1px 0 rgb(159,159,159);
            box-shadow: 0 1px 1px 0 rgb(159,159,159); /* 0 1px 3px 0 */
}

.trending-li {
    padding: 7px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.trending-li-header {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: rgb(141,141,141);
    border-bottom: 1px solid rgb(244,244,244);
    padding-bottom: 4px;
    margin-bottom: 6px;
}

.load-new-posts-btn {
    width: 70%;
    display: block;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    border: none;
    border-bottom: 2px solid rgb(3,191,160);

    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 900;
    color: rgb(150,150,150);
    padding: 7px 0;
}