// masonry

/* ============================= */
/* MASONRY --------------------- */
/* ============================= */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

$masonry-width: 100%;
$num-cols: $masonry-width / 3;


.masonry {
    width: $masonry-width;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
}


/* masonry-brick is invisible, but used for layout */
.masonry-brick,
.post-body,
.grid-sizer {
    width: $num-cols;
}

.post-presentation {
    width: $num-cols * 2;
    z-index: 5;
    position: relative;
}

.masonry-brick {
    float: left;
    border: none;
    background: transparent;
    padding: 10px;
}

.loading-wheel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
}
