// masonry

/* ============================= */
/* MASONRY --------------------- */
/* ============================= */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

$masonry-width: 100%;

.masonry {
    margin: 0 auto;
    width: $masonry-width;
}

/* masonry-brick is invisible, but used for layout */
.masonry-brick,
.post-body,
.grid-sizer {
    width: $masonry-width / 3;
}

.masonry-brick {
    float: left;
    border: none;
    background: transparent;
    padding: 10px;
}
