// Notification

.notification-count {
    padding: 0 11px;
    background-color: rgb(234,234,234);
    color: rgb(130,130,130);
    line-height: 18px; 
    
    &:hover {background-color: rgb(230,230,230);}
}

.notification-count-text {
    position: relative;
    display: inline-block; /* For the overflow to work */
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 33px;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    cursor: pointer;
}

.notification-menu-header {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin: 10px;
    margin-top: 0;

    font-size: 14px;
    font-weight: bold;
    color: rgb(150,150,150);
    border-bottom: 1px solid rgb(234,234,234);
}

.notification-alert {
    background-color: rgb(220,100,90) !important;
    color: rgb(251,251,251) !important;
    
    &:active {background-color: rgb(200,100,90) !important;}
}

.notification-bell {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 80px;
    width: auto;
}

.notification-big-alarm {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    margin: 30px;
    font-size: 13px;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
}

.notification-content {
    position: relative;
    display: inline-block;
    margin-left: 35px;
}
