// related to post only

/* post-body is visible, and transitions size */
.post-body {
    overflow: hidden;
    width: 100%;
    -webkit-transition: width 0.4s, height 0.4s;
       -moz-transition: width 0.4s, height 0.4s;
         -o-transition: width 0.4s, height 0.4s;
            transition: width 0.4s, height 0.4s;

    background-color: rgb(255,255,255);
    overflow: hidden;

    -webkit-box-shadow: 0 1px 2px 0 rgb(159,159,159);
       -moz-box-shadow: 0 1px 2px 0 rgb(159,159,159);
         -o-box-shadow: 0 1px 2px 0 rgb(159,159,159);
            box-shadow: 0 1px 2px 0 rgb(159,159,159);

    &:hover {
        -webkit-box-shadow: 0 2px 3px rgb(100,100,100);
           -moz-box-shadow: 0 2px 3px rgb(100,100,100);
             -o-box-shadow: 0 2px 3px rgb(100,100,100);
                box-shadow: 0 2px 3px rgb(100,100,100);
    }
}

.post-content {
    display: none;
    background-color: rgb(255,255,255);
    padding: 16px;
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgb(51,51,51);
    line-height: 1.3em;
}

.post-footer-btn {
    font-size: 15px;
    font-weight: normal;
    color: rgb(61,61,61);
    background-color: rgb(241,241,241);
    padding: 5px 10px;
    margin: 0 3px;
    cursor: pointer;

    &:hover { background-color: rgb(230,230,230); }
}

.post-like-btn {
    padding: 5px 14px;
    color: rgb(251,251,251);
    background-color: rgb(3,216,165);

    &:hover {
        background-color: rgb(3,200,165);
        background: -webkit-linear-gradient(rgb(3,200,165), rgb(3,216,165));
        background:   -moz-linear-gradient(rgb(3,200,165), rgb(3,216,165));
        background:     -o-linear-gradient(rgb(3,200,165), rgb(3,216,165));
        background:        linear-gradient(rgb(3,200,165), rgb(3,216,165));
    }
}

.post-delete-btn {
    padding: 5px 14px;
    color: rgb(251,251,251);
    background-color: rgb(220,100,90);
}

.post-repost-btn {
    /* No overrides */

    &:hover {
        background-color: rgb(241,241,241);
        background: -webkit-linear-gradient(rgb(230,230,230), rgb(241,241,241));
        background:   -moz-linear-gradient(rgb(230,230,230), rgb(241,241,241));
        background:     -o-linear-gradient(rgb(230,230,230), rgb(241,241,241));
        background:        linear-gradient(rgb(230,230,230), rgb(241,241,241));
    }
}

.no-top-border {
    -webkit-border-top-left-radius: 0;
       -moz-border-top-left-radius: 0;
         -o-border-top-left-radius: 0;
            border-top-left-radius: 0;

    -webkit-border-top-right-radius: 0;
       -moz-border-top-right-radius: 0;
         -o-border-top-right-radius: 0;
            border-top-right-radius: 0;
}

.no-bottom-border {
    -webkit-border-bottom-left-radius: 0;
       -moz-border-bottom-left-radius: 0;
         -o-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
       -moz-border-bottom-right-radius: 0;
         -o-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
}

/* both item and item content change size */
.is-expanded {
    z-index: 5;
    -webkit-box-shadow: 0 2px 5px rgb(100,100,100);
       -moz-box-shadow: 0 2px 5px rgb(100,100,100);
         -o-box-shadow: 0 2px 5px rgb(100,100,100);
            box-shadow: 0 2px 5px rgb(100,100,100);
}

.masonry-brick.is-expanded .post-body {
    background: #F90;
}

$post-cover-photo-height: 390px;

.post-cover-photo {
    position: relative;
    height: $post-cover-photo-height;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    color: rgb(251,251,251);
    text-shadow: 0 2px 10px rgb(44,44,44);
    cursor: pointer;
}

.post-thumb {
    position: relative;
    display: inline-block;
    left: 0;
    height: 23px;
    width: 23px;
    margin: 5px 5px 0 7px;
}

.post-identifier {
    position: relative;
    display: inline-block;
    top: -6px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0,0,200);
    cursor: pointer;
    & > .recipient{
        overflow: hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        width:50px;
        display:inline-block;
    }

}

.post-subject-text {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: rgb(251,251,251);
    cursor: pointer;
}

.post-subject-wrapper {
    position: absolute;
    background-color: rgb(41,41,41);
    background-color: rgba(0,0,0,0.5);
    bottom: 15px;
    width: 100%;
    padding: 10px 0;
}

.post-subject-text-position {
    position: relative;
    padding: 7px 3%;
}

.post-see-more {
    position: relative;
    top: -10px;
    padding: 7px;
    font-weight: normal;
    color: rgb(20,0,200);
    font-size: 16px;
    cursor: pointer;

    &:hover {
        color: rgb(0,0,150);
        background-color: rgb(249,249,249);
    }
}

.post-see-more-effects {
    height: 300px !important;
    -webkit-box-shadow: inset 0 -7px 9px -10px rgb(101,101,101);
       -moz-box-shadow: inset 0 -7px 9px -10px rgb(101,101,101);
         -o-box-shadow: inset 0 -7px 9px -10px rgb(101,101,101);
            box-shadow: inset 0 -7px 9px -10px rgb(101,101,101);
}

.post-text {
    position: relative;

    font-family: helvetica, arial, sans-serif;
    font-size: 40px;
    font-weight: 100;

    color: rgb(44,44,44);

    text-align: left;
    margin: 15px auto;
    padding: 0 5px;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;

    overflow: hidden;
    text-overflow: ellipsis;
}

.post-link {
    &:link {
        font-family: helvetica, arial, sans-serif;
        color: rgb(255,255,255);
        background-color: rgb(68,68,68);
    }
    &:visited { color: rgb(255,255,255); }
}

.post-hashtag {
    &:link {
        font-family: helvetica, arial, sans-serif;
        color: rgb(0,0,255);
    }
    &:visited {color: rgb(0,0,255);}
}

.post-image {
    left: 0;
    text-align: left;
    margin: 0;
    padding: 0;
    max-width: 20%;
    max-height: 200px;
    display: block;
    margin: 10px 0 10px 5px;
    cursor: pointer;

    &:hover {
        -webkit-box-shadow: 0 1px 6px rgb(41,41,41);
           -moz-box-shadow: 0 1px 6px rgb(41,41,41);
             -o-box-shadow: 0 1px 6px rgb(41,41,41);
                box-shadow: 0 1px 6px rgb(41,41,41);
    }
}

.right-post-image {
    position: fixed;
    display: none;
    top: 10%;
    margin-left: 26%;
    height: auto;
    width: auto;
    max-height: 80%;
    max-width: 500px;
    z-index: 2;
}

.post-file-wrapper {
    position: relative;
    margin: 10px auto;
    height: 120px;
}

.post-file-body {
    position: absolute;
    display: inline-block;
    background-color: rgb(230,230,240);
    left: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    font-family: helvetica, arial, sans-serif;
    color: rgb(51,51,51);
    font-weight: normal;
    font-size: 16px;
}

.post-file-element {
    position: relative;
    text-align: left;
    margin: 10px 10px 10px 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.post-file-download-link:link {
    position: absolute;
    height: 100%;
    width: 110px;
    left: 0;
    font-family: heydings_iconsregular;
    font-size: 70px;
    color: rgb(251,251,251);
    background-color: rgb(0,40,100);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    z-index: 2;

    &:visited {color: rgb(251,251,251);}
    &:hover {background-color: rgb(11,91,245); text-decoration: none;}
    &:active {background-color: rgb(11,91,185);}
}



.post-file-img {
    margin-top: 10px;
}

.post-file-download-text {
    position: absolute;
    left: 18px;
    bottom: 10px;
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    color: rgb(251,251,251);
    font-size: 14px;
}

.post-footer {
    background-color: rgb(231,231,231);
    text-align: left;
    line-height: 20px;
}

.post-tag-wrapper {
    display: inline-block;
    line-height: 16px;
    width: 60%;
    min-height: 13px;
    padding-top: 10px;
}

.post-more-options {
    position: absolute;
    right: 15px;
    height: 29px;
    background-color: rgb(201,201,201);
    padding: 0 8px 0 5px;
    cursor: pointer !important;

}

.post-dialogue-progress {
    position: relative;
    display: none;
    margin: 5px auto;
    width: 100%;
    box-shadow: none;
    height: 10px;
    cursor: default !important;
}

.mini-post-action-icon {
    display: inline-block;
    position: relative;
    top: 0;
    margin: 4px;
    margin-right: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 28px;
    color: rgb(101,101,101);
    font-weight: normal;
    cursor: pointer !important;
}

.tag {
    position: relative;
    top: -3px;
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(51,51,251);
    margin: 0 3px;

    &:link { text-decoration: none; }
    &:visited { color: rgb(21,21,231); }
    &:hover { text-decoration: underline; }
}


.mini-vote-btn {
    position: relative;
    display:inline-block;
    min-width: 60px;
    height: 100%;
    cursor: pointer;
    margin: 0;
    padding-right: 10px;
    float: left;
}

.mini-hand-icon {
    display: inline-block;
    position: relative;
    top: 0px;
    margin: 4px;
    margin-right: 2px;
    font-family: 'heydings_iconsregular';
    font-size: 20px;
    color: rgb(101,101,101);
    font-weight: normal;
    cursor: pointer;

    &:hover { color: rgb(151,151,151); }
    &:active { color: rgb(121,121,121); }
}


.mini-vote-count {
    position: relative;
    top: -2px;
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(255,255,255);
}

.default-loading-post {
    background-color: rgb(241,241,241);
    margin: 10px 0;
    padding: 20px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

.general-text {
    font-family: arial, helvetica, 'sans-serif';
    font-size: 14px;
    color: rgb(68,68,68);
    font-weight: normal;
}

.upvote-disabled { background-color: rgb(181,181,181); cursor: default !important; }
.upvote {
    background-color: rgb(116,210,110);

    &:hover { background-color: rgb(116,225,110); }
    &:active { background-color: rgb(116,205,110); }
}


.upvoted {
    -webkit-box-shadow: inset 0 0 9px 2px rgb(0,60,0);
       -moz-box-shadow: inset 0 0 9px 2px rgb(0,60,0);
         -o-box-shadow: inset 0 0 9px 2px rgb(0,60,0);
            box-shadow: inset 0 0 9px 2px rgb(0,60,0);
}

.downvoted {
    -webkit-box-shadow: inset 0 0 9px 2px rgb(60,0,0);
       -moz-box-shadow: inset 0 0 9px 2px rgb(60,0,0);
         -o-box-shadow: inset 0 0 9px 2px rgb(60,0,0);
            box-shadow: inset 0 0 9px 2px rgb(60,0,0);
}

.downvote-disabled { background-color: rgb(151,151,151); cursor: default !important; }
.downvote {
    background-color: rgb(210,100,100);

    &:hover { background-color: rgb(230,100,100); }
    &:active { background-color: rgb(205,100,100); }
}

.btn {
    border: none;
    padding: 8px 13px;
    margin: 5px;
    background-color: rgb(190,190,190);
    font-family: helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.ellipsis-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-posts {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    background-color: rgb(236,201,152);
    text-align: center;
}

.exhausted-posts {
    position: relative;
    width: 70%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px 0;
    background-color: rgb(236,201,152);
    text-align: center;
}

.no-posts-text {
    font-family: arial;
    font-size: 14px;
    color: rgb(50,50,50);
    font-weight: normal;
}

.pseudo-bg-img {
    display: block;
    position: relative;
    min-height: $post-cover-photo-height;
}

.pseudo-bg-img-closed {
    right: 38%;
    height: $post-cover-photo-height;
}

.pseudo-bg-img-expanded {
    width: 100%;
}
