// postform

/* ==== NEW POST================ */

.autocomplete-selected {
    position: relative;
    background-color: rgb(221,221,221);
    width: 100%;
}

.autocomplete-suggestions {
    /*border: 1px solid #999;*/
    border-bottom: 3px solid rgb(101,101,221);
    background-color: rgb(255,255,255);
    cursor:default; text-align: left;
    max-height: 350px;
    overflow: auto;

    /* IE6 specific: */
    _height: 350px;
    _margin: 0;
    _overflow-x: hidden;
}

.autocomplete-suggestions div {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: rgb(0,0,200);
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

#filename {
    display: none;
    font-size: 15px;
    color: rgb(100,100,100);
    padding-top: 10px;
}



#uploadedImagePreviewWrapper {
    margin: 10px;
    margin-bottom: -7px;
}

.imagePreview {
    left: 0;
    text-align: left;
    margin: 0;
    padding: 0;
    max-width: 20%;
    max-height: 200px;
    display: block;
    margin: 10px 0 10px 5px;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}


.new-post-progress-bar {
    width: 100%;
    position: relative;
    height: 2px;
    background-color: rgb(249,249,249);
    margin: 10px 0;
    overflow: hidden;

    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.new-post-progress-bar--juice {
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    background-color: rgb(100,200,0);
}


#new-post-launch {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    margin: 20px auto 10px auto;
    padding: 10px;
    font-weight: 100;
    text-align: center;
    background-color: #dddddd;
    cursor: pointer;

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    &:hover { background-color: rgb(210,210,210); }
}

.new-post-launch-icon {
    position: relative;
    top: 0;
    left: -3px;
    height: 50px;
    width: 50px;
}

.new-post {
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 20px;

    background-color: rgb(100,100,200);
    background: -webkit-linear-gradient(left, rgb(100,100,200), rgb(100,220,100));
    background:   -moz-linear-gradient(right, rgb(100,100,200), rgb(100,220,100));
    background:     -o-linear-gradient(right, rgb(100,100,200), rgb(100,220,100));
    background:        linear-gradient(to right, rgb(100,100,200), rgb(100,220,100));

    text-align: center;
    cursor: pointer;

    &:hover { box-shadow: 0 0 3px 2px rgb(90,90,190); }
    &:active { background-color: rgb(100,100,150); }
}


.new-post-subject {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: rgb(45,45,45);
    text-align: left;
    line-height: 1.2em;
    letter-spacing: -1px;
    background-color: rgb(255,255,255);
    width: 100%;
    height: auto;
    outline: none;
    padding: 9px 10px 6px 10px;
}

.new-post-text {
    font-family: courier, helvetica, arial, sans-serif;
    font-size: 20px;
    color: rgb(255,255,255);
}

.new-post-wrapper {
    // position: absolute;
    top: 0;
    // left: 50%;
    /*margin-left: -265px;*/
    // margin-left: -390px;
    margin-top: 20px;
    width: 100%;
    min-width: 250px;
    background-color: rgb(255,255,255);
    padding: 15px;
    z-index: 100;

    -webkit-box-shadow: 0 1px 3px rgb(100,100,100);
       -moz-box-shadow: 0 1px 3px rgb(100,100,100);
         -o-box-shadow: 0 1px 3px rgb(100,100,100);
            box-shadow: 0 1px 3px rgb(100,100,100);
}

.new-post-element {
    width: 100%;
    background-color: rgb(234,234,234);
}

.post-desc {
    display: block;

    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(60,60,60);

    padding: 2px;
    padding-bottom: 7px;
}

.upload-button {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    position: absolute;
    top: 140px;
    width: 750px;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    color: rgb(150,150,150);
    text-align: center;
    padding: 50px 0px;
    cursor: pointer;

    &:hover {
        color: rgb(125,125,125);
    }
}

.upload-photo {
    position: absolute;
    top: 120px !important;
    width: 400px !important;

}

.upload-photo-icon {
    position: relative;
    margin: 0 auto;
    font-family: 'heydings_iconsregular';
    font-size: 50px;
}

.upload-input {
    width: 120px !important;
    height: 30px !important;
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.new-post-subject {
    /*border: 1px solid rgb(210,210,210);*/
    border: none;
}

.typehead {
    @extend .new-post-subject;
    padding: 6px;
    border-top: none;
}

.new-post-subject {
    border-bottom: none;
}

.new-post-element {
    .highlighter {
        position: absolute;
        padding-left: 8px;
        padding-top: 8px;
        color: transparent;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        overflow: hidden;
        z-index: 2;
    }

    .post-input {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        min-height: 6em !important;
        resize: none !important;
        border: 0;
        outline: none;
        background-color: transparent;
        direction: ltr;
        z-index: 2;
    }

    .hashtag {
        background: -webkit-linear-gradient(rgb(220,230,248), rgb(189,207,241));
        background:    -moz-linear-gradient(rgb(220,230,248), rgb(189,207,241));
        background:      -o-linear-gradient(rgb(220,230,248), rgb(189,207,241));
        background:         linear-gradient(rgb(220,230,248), rgb(189,207,241));

        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
            -ms-border-radius: 2px;
             -o-border-radius: 2px;
                border-radius: 2px;

        -webkit-box-shadow: 0 0 0 1px rgb(163,188,234);
           -moz-box-shadow: 0 0 0 1px rgb(163,188,234);
             -o-box-shadow: 0 0 0 1px rgb(163,188,234);
                box-shadow: 0 0 0 1px rgb(163,188,234);

        white-space: pre-wrap;
        z-index: 2;
    }

    .typehead {
        position: relative;
        top: 0;
        z-index: 2;
    }

}

.highlighter, .post-input {
    font-family: Georgia, helvetica, arial, sans-serif;
    font-size: 19px;
    color: rgb(41,41,41);
    font-weight: normal;
    line-height: 1.4em;
    letter-spacing: 0.01rem;
    padding: 16px 6px;
}


.post-error-wrapper {
    position: relative;
    display: none;
    margin-bottom: 12px;
}

.post-error {
    position: relative;
    width: 85%;
    margin: 0 auto;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: rgb(200,100,100);
    font-weight: normal;
}

.post-button {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 5px 7px;
    width: 70px;
    background-color: rgb(0,100,200);
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    &:hover {background-color: rgb(0,120,200);}
    &:active {background-color:rgb(0,100,200);}
}

.cancel-post-button {
    margin-left: 4px;
    background-color: rgb(251,251,251);
    border: 1px solid rgb(251,251,251);
    color: rgb(100,100,100) !important;

    &:hover {
        border: 1px solid rgb(201,201,201);
        background-color: rgb(251,251,251);
    }
    &:active {
        background-color: rgb(247,247,247);
    }
}

.small-red-bar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 0 5px 0;
    background-color: rgb(230,100,100);
    text-align: center;
    cursor: pointer;

    -webkit-box-shadow: 0 0 5px 2px rgb(100,100,100);
       -moz-box-shadow: 0 0 5px 2px rgb(100,100,100);
         -o-box-shadow: 0 0 5px 2px rgb(100,100,100);
            box-shadow: 0 0 5px 2px rgb(100,100,100);
}

.small-white-font {
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(251,251,251);
}

.hidden-upload-success {
    position: relative;
    top: -5px;
    display: none;
}

.tag-bg {
    background-image: url(/static/pictures/p.tag-bg.png);
    background-repeat: repeat;
}

.post-form-bg-display-option {
    position: relative;
    display: inline-block;
    padding: 4px 13px;
    margin: 5px 0;
    font-size: 14px;
    background-color: rgb(255,255,255);
    border-bottom: 2px solid rgb(245,245,245);
    cursor: pointer;

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
}

.post-form-bg-display-option--active {
    border-color: rgb(0,206,100);
    background-color: rgb(248,248,248);

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
}
