// Setting

/* ==== INFO ====================== */

.basic-input {
    margin: 10px 0;
    padding: 4px 6px;
}

.info-h1 {
    font-size: 22px;
    font-weight: 100;
}

.info-settings-item {
    position: relative;
    font-size: 15px;
    font-weight: 100;

    &:hover {
        /*background-color: rgb(234,234,234);*/
        -webkit-box-shadow: -2px 0px 0px rgb(0,226,174);
           -moz-box-shadow: -2px 0px 0px rgb(0,226,174);
             -o-box-shadow: -2px 0px 0px rgb(0,226,174);
                box-shadow: -2px 0px 0px rgb(0,226,174);
    }
}

.info-settings-item.open {
    -webkit-box-shadow: -2px 0px 0px rgb(0,226,174);
       -moz-box-shadow: -2px 0px 0px rgb(0,226,174);
         -o-box-shadow: -2px 0px 0px rgb(0,226,174);
            box-shadow: -2px 0px 0px rgb(0,226,174);
}

.info-settings-item-header {
    width: 70%;
    padding: 10px 15px;
    cursor: pointer;
}

.info-settings-item-content {
    display: none;
    padding: 10px 40px;
}

.info-settings-item-body-desc {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    color: rgb(71,71,71);
    padding: 10px 5px;
}

.privacy-toggle {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
}

.privacy-toggle.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
}

.info-settings-submit {
    position: relative;
    display: block;
    margin: 8px 0 0;
    border: none;
    background-color: rgb(225,225,225);
    padding: 6px 22px;
    font-family: arial, helvetica, sans-serif;
    color: rgb(120,120,120);
    font-weight: 400;
    outline: none;

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    &:hover { background-color: rgb(228,228,228); };
}
