// Setting

/* ==== INFO ====================== */

.basic-input {
    margin: 10px 0;
    padding: 4px 6px;
}

.info-h1 {
    font-size: 22px;
    font-weight: 100;
}

.info-settings-item {
    position: relative;
    font-size: 15px;
    font-weight: 100;
}

.info-settings-item-header {
    width: 70%;
    padding: 10px 15px;
    cursor: pointer;
} .info-settings-item:hover {
    background-color: rgb(234,234,234);
}

.info-settings-item-body {
    display: none;
    /*border-top: 1px solid rgb(201,201,201);*/
    padding: 10px 20px;
}

.info-settings-item-body-desc {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    color: rgb(71,71,71);
}

.privacy-toggle {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
}

.privacy-toggle.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
}
