.sidemenu {
    position: fixed;
    display: none;
    height: 100%;
    top: 0;
    right: 0;
    margin-top: 38px;
    /*width: 250px;*/
    width: 280px;
    background-color: rgb(251,251,251);
    overflow-y: scroll;
    color: rgb(44,44,44);
    z-index: 9;

    -webkit-box-shadow: -5px 0 9px -2px rgb(190,190,190);
       -moz-box-shadow: -5px 0 9px -2px rgb(190,190,190);
         -o-box-shadow: -5px 0 9px -2px rgb(190,190,190);
            box-shadow: -5px 0 9px -2px rgb(190,190,190);
}

.sidemenuOptions {
    margin: 10px;
    margin-top: 15px;
    font-family: arial, helvetica, sans-serif;
    font-weight: 100;
}

.notificationTextPosition {
    position: relative;
}

.followerAcceptButton {
    background-color: rgb(255,255,255);
    border: 1px solid rgb(200,200,200);
    margin: 5px 0;

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;

    &:hover {
        border-color: rgb(111,159,216);
    }
}
