{% extends "/__admin__/admin_base.jinja2" %}
{% block admin_content %}
	
	<div style="margin-top: 15%; text-align: center;">
		<div class="big-data mr-blue">
			{{ big_data['user_count'] }}
			<div class="big-data-title">Users</div>
		</div>
		<div class="big-data mr-blue">
			{{ big_data['object_count'] }}
			<div class="big-data-title">Posts</div>
		</div>
		<div class="big-data mr-blue">
			{{ big_data['global_tag_count'] }}
			<div class="big-data-title">Tags</div>
		</div>
	</div>

{% endblock %}








